aao_DDL_MOC_CSX_DIR_NIP/aao.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aao/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AaoServiceService" targetNamespace="http://aao/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://aao/" elementFormDefault="unqualified" targetNamespace="http://aao/" version="1.0">

  <xs:element name="fixes" type="tns:fixes"/>

  <xs:element name="fixesResponse" type="tns:fixesResponse"/>

  <xs:complexType name="fixes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:duck"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="duck">
    <xs:sequence>
      <xs:element minOccurs="0" name="bill" type="xs:string"/>
      <xs:element minOccurs="0" name="color" type="xs:string"/>
      <xs:element minOccurs="0" name="feet" type="xs:string"/>
      <xs:element minOccurs="0" name="walk" type="xs:string"/>
      <xs:element minOccurs="0" name="wingspan" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fixesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="fixes">
    <wsdl:part element="tns:fixes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fixesResponse">
    <wsdl:part element="tns:fixesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AaoService">
    <wsdl:operation name="fixes">
      <wsdl:input message="tns:fixes" name="fixes">
    </wsdl:input>
      <wsdl:output message="tns:fixesResponse" name="fixesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AaoServiceServiceSoapBinding" type="tns:AaoService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fixes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fixes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fixesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AaoServiceService">
    <wsdl:port binding="tns:AaoServiceServiceSoapBinding" name="AaoServicePort">
      <soap:address location="http://localhost:9000/aao/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>