aap_DFT_MOC_CSX_JMS_NIP/aap.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AapService" targetNamespace="http://aap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://aap/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://aap/">
  <xs:complexType name="cleaner">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:string"/>
      <xs:element minOccurs="0" name="health" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="OCDness" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mop" type="mop"/>
  <xs:complexType name="mop">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="cleaner"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mopResponse" type="mopResponse"/>
  <xs:complexType name="mopResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="mopResponse">
    <wsdl:part element="tns:mopResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mop">
    <wsdl:part element="tns:mop" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AapServicePortType">
    <wsdl:operation name="mop">
      <wsdl:input message="tns:mop" name="mop">
    </wsdl:input>
      <wsdl:output message="tns:mopResponse" name="mopResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AapServiceSoapBinding" type="tns:AapServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mop">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="mop">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="mopResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AapService">
    <wsdl:port binding="tns:AapServiceSoapBinding" name="AapServicePort">
      <soap:address location="http://localhost:9000/aap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>