acn_DFT_NTG_CSX_JMS_NIP/acn.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://acn/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AcnServiceService" targetNamespace="http://acn/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acn/" elementFormDefault="unqualified" targetNamespace="http://acn/" version="1.0">

  <xs:element name="filters" type="tns:filters"/>

  <xs:element name="filtersResponse" type="tns:filtersResponse"/>

  <xs:complexType name="filters">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:screen"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="screen">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="weight" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filtersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:light"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="light">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
      <xs:element minOccurs="0" name="szwitch" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="filters">
    <wsdl:part element="tns:filters" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filtersResponse">
    <wsdl:part element="tns:filtersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AcnService">
    <wsdl:operation name="filters">
      <wsdl:input message="tns:filters" name="filters">
    </wsdl:input>
      <wsdl:output message="tns:filtersResponse" name="filtersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AcnServiceServiceSoapBinding" type="tns:AcnService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="filters">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="filters">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="filtersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcnServiceService">
    <wsdl:port binding="tns:AcnServiceServiceSoapBinding" name="AcnServicePort">
      <soap:address location="http://localhost:9000/acn/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>