adu_HND_MOC_CSX_JMS_NIP/adu.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://adu/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AduServiceService" targetNamespace="http://adu/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://adu/" elementFormDefault="unqualified" targetNamespace="http://adu/" version="1.0">

  <xs:element name="enclose" type="tns:enclose"/>

  <xs:element name="encloseResponse" type="tns:encloseResponse"/>

  <xs:complexType name="enclose">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:region"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="region">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="encloseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:area"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="area">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="enclose">
    <wsdl:part element="tns:enclose" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="encloseResponse">
    <wsdl:part element="tns:encloseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AduService">
    <wsdl:operation name="enclose">
      <wsdl:input message="tns:enclose" name="enclose">
    </wsdl:input>
      <wsdl:output message="tns:encloseResponse" name="encloseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AduServiceServiceSoapBinding" type="tns:AduService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enclose">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enclose">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="encloseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AduServiceService">
    <wsdl:port binding="tns:AduServiceServiceSoapBinding" name="AduServicePort">
      <soap:address location="http://localhost:9000/adu/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>