aai_HND_MOC_CSX_DIR_EIP/aai.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aai/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AaiServiceService" targetNamespace="http://aai/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://aai/" elementFormDefault="unqualified" targetNamespace="http://aai/" version="1.0">

  <xs:element name="fixes" type="tns:fixes"/>

  <xs:element name="fixesResponse" type="tns:fixesResponse"/>

  <xs:complexType name="fixes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:car"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="car">
    <xs:sequence>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="year" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fixesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:mechanic"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mechanic">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:string"/>
      <xs:element minOccurs="0" name="town" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="fixes">
    <wsdl:part element="tns:fixes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fixesResponse">
    <wsdl:part element="tns:fixesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AaiService">
    <wsdl:operation name="fixes">
      <wsdl:input message="tns:fixes" name="fixes">
    </wsdl:input>
      <wsdl:output message="tns:fixesResponse" name="fixesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AaiServiceServiceSoapBinding" type="tns:AaiService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fixes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fixes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fixesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AaiServiceService">
    <wsdl:port binding="tns:AaiServiceServiceSoapBinding" name="AaiServicePort">
      <soap:address location="http://localhost:9000/aai/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>