abk_DDL_WOW_CSX_JMS_NIP/abk.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://abk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AbkServiceService" targetNamespace="http://abk/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://abk/" elementFormDefault="unqualified" targetNamespace="http://abk/" version="1.0">

  <xs:element name="grows" type="tns:grows"/>

  <xs:element name="growsResponse" type="tns:growsResponse"/>

  <xs:complexType name="grows">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:leaf"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="leaf">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="growsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tree"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tree">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
      <xs:element minOccurs="0" name="species" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="grows">
    <wsdl:part element="tns:grows" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="growsResponse">
    <wsdl:part element="tns:growsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AbkService">
    <wsdl:operation name="grows">
      <wsdl:input message="tns:grows" name="grows">
    </wsdl:input>
      <wsdl:output message="tns:growsResponse" name="growsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AbkServiceServiceSoapBinding" type="tns:AbkService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="grows">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="grows">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="growsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbkServiceService">
    <wsdl:port binding="tns:AbkServiceServiceSoapBinding" name="AbkServicePort">
      <soap:address location="http://localhost:9000/abk/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>